streamlit
pandas
numpy
# Version fixée pour correspondre à votre modèle local:
scikit-learn==1.6.1 

joblib
# Ajouté pour corriger "No module named 'seaborn'":
seaborn
# Ajouté pour corriger "No module named 'imblearn'":
imbalanced-learn

matplotlib
# Dépendances AI/ML
catboost
torch
langchain
langchain-core
langchain-community
langchain-openai
openai
tiktoken
requests
